.Firstbox {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #ebf3ff;
  padding: 15px;
}
.h1 {
  color: blue;
  margin-right: 150px;
}
.right {
    background-color: white;
  border: 1px solid black;
  border-top: 5px solid blue;
  padding: 15px;
  display: flex;
  /* align-items: flex-start; */
}
.yourself {
  margin-right: 50px;
}
h5 img{
    width: 30px;
    height: 30px;
    margin-bottom: -10px;
}
