.flex {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.parent{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 0.1px solid rgb(199, 198, 198);
}
.flex h2:hover{
    text-decoration: underline;
    cursor: pointer;
}
.off{
    color: dodgerblue;
    padding: 10px;
    font-weight: bold;
    border: 1px solid dodgerblue;
}
.off:hover{
    background-color: dodgerblue;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}
